tensorflow==2.13.0  # ou la version que vous utilisez pour le modèle
streamlit==1.24.0    # ou la version que vous utilisez
numpy==1.23.0        # ou la version que vous utilisez
opencv-python==4.7.0  # ou la version que vous utilisez
Pillow==10.0.0       # ou la version que vous utilisez
