watchdog==3.0.0
webcolors==1.12
websocket-client==1.5.1
whisper==2022.9.29
whisper-pt==1.0.0
whisper-gpt==1.0.0
wrapt==1.15.0
wurlitzer==3.2.0
xarray==2024.1
xgboost==1.7.6
xgboost==1.7.6
xkit==0.2.0
xmltodict==0.13.0
zict==3.0.0
zipp==3.15.0
zstandard==0.19.0
