absl-py==1.4.0
aiohttp==3.8.5
alembic==1.10.4
altair==5.2.0
anyio==3.7.1
argon2-cffi==21.3.0
async-timeout==4.0.2
attrs==23.2.0
audeer==2.3.0
av==10.2.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
blinker==1.6.2
bokeh==3.3.1
boto3==1.28.4
botocore==1.31.4
branca==0.6.0
bs4==0.0.1
cairocffi==1.5.2
cairosvg==2.5.2
certifi==2024.6.15
cffi==1.15.1
charset-normalizer==3.2.0
click==8.2.7
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.1.0
cryptography==39.0.1
cufflinks==0.17.3
cv2==4.7.0
cymem==2.0.7
Cython==0.29.36
dash==2.11.0
dash-core-components==2.11.0
dash-html-components==2.11.0
dash-table==5.2.0
dask==2024.3.1
databricks-cli==0.17.4
dill==0.3.7
docopt==0.6.2
docker==5.2.0
docker-pycreds==0.4.0
dominate==2.7.0
entrypoints==0.4
faiss-cpu==1.7.4
fastapi==0.102.0
filelock==3.12.2
flask==2.3.3
flask-cors==4.0.0
flask-restful==0.3.9
fonttools==4.41.0
fpdf2==2.5.10
frozenlist==1.3.3
fsspec==2024.7.0
geopy==2.3.0
gdown==4.7.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-storage==2.7.0
google-cloud-vision==3.0.2
googletrans==4.0.0-rc1
gradio==3.38.0
grpcio==1.58.0
h5py==3.8.0
hdfs==2023.11.0
httpx==0.24.0
idna==3.4
imageio==2.31.0
imageio-ffmpeg==0.4.8
imgaug==0.4.0
imbalanced-learn==0.10.1
importlib-metadata==6.8.0
iniconfig==1.1.1
inputimeout==1.0.0
ipykernel==6.21.0
ipython==8.14.0
ipython-genutils==0.2.0
ipython-sql==0.4.0
ipywidgets==7.7.3
isort==5.16.0
jedi==0.18.2
jedi-invocation==1.0.2
jellyfish==0.9.0
Jinja2==3.1.2
joblib==1.3.1
jupyter==1.0.0
jupyter-client==8.2.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyter-dash==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.0.3
jupyterlite==0.1.3
jupyterlite-pip==0.1.2
jupyter_server==2.17.0
jupyterlab==3.6.3
kaleido==0.2.1
keras==2.14.0
keras-cv==1.6.0
keras-nlp==0.5.0
keras-preprocessing==1.1.2
kiwisolver==1.4.4
langdetect==1.0.9
latexcodec==2.0.1
librosa==0.10.0
lightgbm==3.3.5
line_profiler==3.5.0
lit==16.0.5
llvmlite==0.40.0
lmfit==1.1.3
locust==2.17.0
lockfile==0.12.2
lxml==4.9.3
markdown==3.4.3
Markdown2==2.4.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-venn==0.11.7
matplotlib-inline==0.1.6
matplotlib-scalebar==0.9.0
mediapipe==0.10.1
memcached==1.59
mlflow==2.5.0
mlxtend==0.20.0
mlflow-skinny==1.25.1
mlflow-azure==1.25.1
mlflow-sklearn==1.25.1
mlflow-tensorflow==1.25.1
mlflow-xgboost==1.25.1
mlflow-keras==1.25.1
mnbv==0.0.3
mock==5.0.0
moviepy==1.0.3
msgpack==1.0.5
multidict==6.0.4
natsort==8.3.1
nbclient==0.7.4
nbconvert==6.5.4
nbformat==5.8.0
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.0
numexpr==2.8.4
numpy==1.24.6
open3d==0.17.0
openpyxl==3.1.2
opencv-python==4.7.0.72
optuna==3.2.3
orjson==3.8.14
osmnx==1.2.1
packaging==23.1
pandas==2.1.2
pandas-gbq==0.17.10
pandas-profiling==3.2.0
pandas-ta==0.3.0b0
panel==0.14.8
param==1.14.1
parquet==2.1.3
parso==0.8.3
partd==1.4.0
path==16.0.0
pathlib2==2.3.7
patsy==0.5.3
pillow==10.0.0
pipreqs==0.4.11
plotly==5.15.0
plotly-express==0.4.0
plotnine==0.9.0
plyfile==0.7.0
pmdarima==2.0.1
pmlbox==1.0.5
pooch==1.6.0
pre-commit==2.21.0
preshed==3.0.9
probabilistic-programming==1.4.0
protobuf==3.20.3
psycopg2==2.9.6
pydantic==1.10.9
pydata-google-auth==1.1.1
pydeck==0.8.0
pydot==1.4.2
pyfiglet==0.8.post1
pygdal==3.6.4
pymc==5.0.0
pymongo==4.3.3
pymysql==1.0.3
pyodbc==4.0.39
pyparsing==3.1.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-asyncio==0.20.2
pytest-benchmark==3.3.5
python-crfsuite==0.9.7
python-json-logger==2.0.7
python-multipart==0.0.6
python-socketio==5.3.0
pyttsx3==2.9
pyuic==5.15.0
pyyaml==6.0
pyzbar==0.1.9
qgrid==1.0.0
quantlib==1.22
quokka==0.8.0
rasa==3.3.9
rasa-sdk==3.3.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.0
rsa==4.9
s3fs==2024.7.0
sagemaker==2.138.0
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==1.2.2
scikit-image==0.20.0
scipy==1.10.1
seaborn==0.12.2
secrets==1.0.1
shap==0.41.0
shortuuid==1.0.11
simpletransformers==0.63.12
six==1.16.0
sklearn==0.0
smart-open==6.4.0
snowflake-connector-python==2.8.0
snowflake-sqlalchemy==1.4.5
snyk==1.124.0
spacy==3.5.2
spacy-legacy==3.0.12
sqlalchemy==2.0.17
sqlalchemy-orm==2.0.0
sqlite3==0.0.1
streamlit==1.25.0
streamlit-drawable-canvas==0.8.3
streamlit-analytics==0.0.8
streamlit-aggrid==0.2.0
streamlit-card==0.1.1
streamlit-conditional-rendering==0.0.3
streamlit-folium==0.2.0
streamlit-multipage==0.0.1
streamlit-pandas-profiling==0.0.5
streamlit-presentation==0.1.0
streamlit-pydeck==0.2.0
streamlit-plotly==0.0.3
streamlit-plotly-events==0.0.1
streamlit-snowflake==0.2.0
streamlit-webrtc==0.39.0
tabulate==0.9.0
tensorboard==2.14.0
tensorflow==2.14.0
tensorflow-addons==0.21.0
tensorflow-hub==0.13.0
tensorflow-io==0.33.0
tensorflow-probability==0.21.0
termcolor==2.3.0
textblob==0.17.1
tqdm==4.66.1
traitlets==5.9.0
tweepy==4.13.0
twilio==7.25.0
typing_extensions==4.5.0
ujson==5.7.0
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.24.0
watchdog==3.0.0
web3==6.6.1
websocket-client==1.6.1
whisper==1.0.0
xgboost==1.7.6
xxhash==3.2.0
yaml==0.2.5
yfinance==0.2.25
zipp==3.15.0
zstandard==0.21.1
